.mainContainer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 30px;
	padding: 20px;
	height: 100vh;
	background-color: var(--primary-bg);
}

.formContainer {
	background: var(--secondary-bg);
	color: var(--primary-text);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	width: 45%;
	max-height: 90vh;
	overflow-y: auto;
}

.formContainer form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

input,
textarea {
	width: 90%;
	padding: 10px;
	border: 1px solid var(--primary-border);
	border-radius: 5px;
	background-color: var(--primary-bg);
	color: var(--primary-text);
	max-width: 100%;
	resize: none;
}

.buttonSubmit {
	background: var(--primary-color);
	color: white;
	font-weight: bold;
	max-width: 100px;
	padding: 10px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.buttonSubmit:hover {
	background-color: var(--secondary-color);
}

.jobDetail {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
	height: 100%;
	background-color: var(--primary-bg);
	border-radius: 10px;

	/* overflow-y: scroll;
	overflow-x: hidden; */
	padding: 0px 20px;
	color: var(--primary-text);
	gap: 20px;
	background-color: blue;
}

.conditions {
	display: flex;
	flex-direction: column;
	justify-content: left;
	background-color: var(--primary-bg);
	padding: 0 10px;
	height: auto;
	width: 100%;
	padding-top: 20px;
}

.conditions h1 {
	margin: 0;
	margin-bottom: 15px;
}

.conditions p {
	margin: 0;
	font-weight: bold;
}

.containerLogo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 5px;
	width: max-content;
	color: var(--primary-text);
}
.containerLogo img {
	width: 48px;
	height: 48px;
	border-radius: 100px;
}

.auxContainer {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.skills {
	display: flex;
	flex-direction: column;
	justify-items: baseline;
	background-color: red;
}

.containerButtons {
	display: flex;
	flex-direction: row;
	gap: 15px;
	align-items: center;
	margin-top: 20px;
}

.containerButtons button {
	border: 2px solid var(--primary-color);
	border-radius: 50px;
	cursor: pointer;
}

.buttonApply {
	background-color: var(--primary-color);
	color: var(--primary-bg);
	font-weight: bold;
	padding: 10px 30px;
	transition: all 0.3s ease;
}

.buttonApply:hover {
	background-color: var(--secondary-color);
	border-color: var(--secondary-color);
}

.buttonSave {
	background-color: var(--primary-bg);
	color: var(--primary-color);
	font-weight: bold;
	padding: 10px 30px;
	transition: all 0.3s ease;
}
.buttonSave:hover {
	background-color: var(--primary-color);
	color: var(--primary-bg);
}

.containerSkills {
	position: absolute;
	background-color: var(--primary-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	right: -220px;
	padding: 10px 20px;
	top: 0;
	border-radius: 10px;
	box-shadow: 1px 1px 10px 1px var(--primary-shadow);
}

.containerDescription {
	display: flex;
	overflow-x: hidden;
	max-width: 100%;
	background-color: red;
}
