.mainContainer {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 30px;
	padding: 20px;
	height: 100vh;
	background-color: var(--primary-bg);
}

.formContainer,
.previewContainer {
	background: var(--secondary-bg);
	color: var(--primary-text);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	width: 45%;
	max-height: 90vh;
	overflow-y: auto;
}

.formContainer form {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

input,
textarea {
	width: 90%;
	padding: 10px;
	border: 1px solid var(--primary-border);
	border-radius: 5px;
	background-color: var(--primary-bg);
	color: var(--primary-text);
}

.buttonSubmit {
	background: var(--primary-color);
	color: white;
	font-weight: bold;
	max-width: 100px;
	padding: 10px 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.buttonSubmit:hover {
	background-color: var(--secondary-color);
}

.jobCard {
	border: 1px solid var(--primary-border);
	padding: 15px;
	border-radius: 10px;

	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.description {
	height: 300px;
}
